  <div class="show-card"
       data-controller="show"
       data-action="click->show#open"
       data-show-index-value="0"
       >
    <div class="front id-<%= show.id %>">
      <img src="<%= show.poster_url %>" alt="<%= show.name %>" class="show-poster">
    </div>
    <div class="back">
      <div <%= 'data-player-target=show' if show.playlist %> data-playlist-name="<%= show.playlist ? show.playlist.name : nil %>">
        <%= render partial: "shared/player", locals: { show: show, songs: songs } %>
      </div>
    </div>
  </div>
