<!DOCTYPE html>
<html>
  <head>
    <title>FleakBeats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.js"></script>

  </head>

  <body class="min-h-screen flex flex-col" data-controller="change-background" id="bg1" >

    <%= yield %>

    <%= render "shared/flashes" %>
  </body>
</html>
