<!DOCTYPE html>
<html>
  <head>
    <title>FleakBeats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.js"></script>

  </head>

  <body class="min-h-screen flex flex-col" data-controller="change-background">
    <div class="background_video fixed">
      <%= video_tag "background_1.mp4", autoplay: :autoplay, muted: true, controls: false, loop: :loop, id:"bg1" %>
      <%= video_tag"background_3.mp4", autoplay: :autoplay, muted: true, controls: false, loop: :loop, id:"bg2", class:"hidden" %>
      <%= video_tag"background_2.mp4", autoplay: :autoplay, muted: true, controls: false, loop: :loop, id:"bg3", class:"hidden" %>
    </div>
    <div class="crt_lines"></div>
      <%= yield %>

      <%= render "shared/flashes" %>

    <div data-controller="textanimation">
     <p class="text_home" data-textanimation-target="text"></p>

    </div>
  </body>
</html>
