<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for?(:title) ? yield(:title) : "FleakBeats - La plateforme musicale ultime" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Plateforme musicale en développement' %>">
  <meta property="og:image" content="<%= request.base_url %>/images/og-image.png">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.js"></script>
    <%= favicon_link_tag 'favicon.ico' %>


  </head>

  <body class="min-h-screen flex flex-col" data-controller="change-background">
    <div class="background_video fixed">
      <%= video_tag "background_1.mp4", autoplay: :autoplay, muted: true, controls: false, loop: :loop, id:"bg1" %>
      <%= video_tag"background_3.mp4", autoplay: :autoplay, muted: true, controls: false, loop: :loop, id:"bg2", class:"hidden" %>
      <%= video_tag"background_2.mp4", autoplay: :autoplay, muted: true, controls: false, loop: :loop, id:"bg3", class:"hidden" %>
    </div>
    <div class="crt_lines"></div>
      <%= yield %>


    <div data-controller="textanimation">
     <p class="text_home" data-textanimation-target="text"></p>

    </div>
  </body>
</html>
